  .rowStyle {
    height: 100%;
  }
  
  .leftBlock {
    background: white;
    height: 100%;
  }
  
  .mainBlock {
    background: white;
    height: 100%;
    box-shadow: inset 20px 0px 200px rgba(0, 0, 0, 0.05);
  }
  
  .profText {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;
    width: 100%;
  }

  .profTextMobile {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    width: 100%;
  }
  
  .fioText {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    width: 100%;
  }
  
  .workText {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    width: 100%;
  }
  
  .mainPageTitleText {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    width: 100%;
  }
  
  .mainPageSubTitleText {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #4a5568;
    width: 100%;
  }
  
  .menuText {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    width: 100%;
  }
  
  .subMenu {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    width: 100%;
  }
  
  .photo {
    width: 100%;
  }

  .projectImg {
    display: inline-block;
    width: 40px;
    height: 40px;
  }