<template>
  <v-container fill-height fluid ma-0 pa-0>
    <v-row :class="{ rowStyle: isLg }">
      <v-col class="col-12 col-lg-3 leftBlock">
        <img class="ma-n3" src="https://ferretblack.gitlab.io/portfolio/img/photo.svg">
        <v-row class="mx-4 mt-4">
          <span class="fioText">Горелов Максим</span>
        </v-row>
        <v-row class="mt-2 ml-4 mr-2">
          <v-btn color="primary" block target="_blank" href="https://t.me/FerretBlack"
            >Отправить сообщение</v-btn
          >
        </v-row>
        <v-row class="mt-2 ml-4 mr-2">
          <v-btn block target="_blank" href="https://career.habr.com/ferretblack"
            >Хабр Карьера</v-btn
          >
        </v-row>
        <v-row class="mx-4 mt-4">
          <span class="menuText">Возраст</span>
          <span class="subMenu">25</span>
        </v-row>
        <v-row class="mx-4 mt-4">
          <span class="menuText">Город</span>
          <span class="subMenu">Рязань</span>
        </v-row>
        <v-row class="mx-4 mt-4">
          <span class="menuText">Немного о себе</span>
          <span class="subMenu"
            >Занимаюсь <b>разработкой и менеджментом проектов</b> с юных лет.
            <br />
            Одним из самых успешных личных проектов был комплекс игровых
            серверов с собственным личным кабинетом для пользователей и форумом
            для общения. Онлайн проекта в пик составлял около
            <b>2-х тысяч игроков.</b> <br />
            Также имею опыт работы в качестве Frontend и отчасти Backend
            разработчика в таких крупных компаниях как
            <b>"Мобильные ТелеСистемы"</b> и <b>"Лаборатория Гемотест"</b>
          </span>
        </v-row>
      </v-col>
      <v-col class="col-12 col-lg-9 pa-5 pa-md-12 mainBlock">
        <span class="mx-2" :class="{profText: isLg, profTextMobile: !isLg}">JavaScript разработчик</span>
        <v-row class="mx-2">
          <span class="workText">Единый информационный стандарт</span>
        </v-row>

        <v-row class="mx-2">
          <span class="mainPageTitleText mt-4">Основные навыки</span>
        </v-row>
        <v-row class="ml-1">
          <v-col class="col-12 col-lg-4">
            <span class="mainPageSubTitleText">Разработка</span>
            <span class="subMenu">JavaScript ES 6+</span>
            <span class="subMenu">Vue</span>
            <span class="subMenu">Vuex</span>
            <span class="subMenu">Vue Router</span>
            <span class="subMenu">Vuetify</span>
            <span class="subMenu">Node JS (Express)</span>
            <span class="subMenu">Google Firebase</span>
            <span class="subMenu">MongoDB</span>
            <span class="subMenu">MySQL / PostgreSQL / MSSQL</span>
          </v-col>
          <v-col class="col-12 col-lg-4">
            <span class="mainPageSubTitleText">Дизайн</span>
            <span class="subMenu">Adobe Photoshop</span>
            <span class="subMenu">Figma</span>
          </v-col>
          <v-col class="col-12 col-lg-4">
            <span class="mainPageSubTitleText">Методологии</span>
            <span class="subMenu">Scrum</span>
            <span class="subMenu">Waterfall</span>
          </v-col>
        </v-row>

        <Organizations />
        <Projects />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Organizations from "@/components/Organizations.vue";
import Projects from "@/components/Projects.vue";

export default {
  components: {
    Organizations,
    Projects,
  },

  computed: {
    isLg() {
      if (
        this.$vuetify.breakpoint.name == "lg" ||
        this.$vuetify.breakpoint.name == "xl"
      )
        return true;
      return false;
    },
  },
};
</script>