<template>
  <div>
    <span class="mainPageTitleText mt-4">Организации</span>
    <v-alert text type="info" color="primary"
      >Список компаний в которых я работал/работаю в качестве наемного
      сотрудника</v-alert
    >
    <v-expansion-panels v-model="panel" flat class="mt-4">
      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-row class="my-n4">
            <v-col>
              <span class="mainPageSubTitleText"
                >Единый информационный стандарт</span
              >
              <span class="subMenu">JavaScript разработчик</span>
            </v-col>
            <v-col align="right" class="py-7">
              <span class="mr-4 d-none d-md-block"
                >Июнь 2020 - По настоящее время</span
              >
            </v-col>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-chip class="ma-2 d-md-none" color="primary">
            Июнь 2020 - По настоящее время
          </v-chip>

          <p>
            Разработка информационных систем для крупных государственных
            заказчиков. Занят в разработке системы с нуля для муниципальной
            организации города Рязани. Система позволяет получать самую
            актуальную информацию о начислениях за коммунальные услуги и детские
            сады. Ко всему прочему пользователь системы может передавать
            показания счетчиков, а также производить оплату по всем начислениям,
            получить необходимые справки
          </p>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-row class="my-n4">
            <v-col>
              <span class="mainPageSubTitleText">PowerTech</span>
              <span class="subMenu">JavaScript разработчик</span>
            </v-col>
            <v-col align="right" class="py-7">
              <span class="mr-4 d-none d-md-block">Март 2020 - Май 2020</span>
            </v-col>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-chip class="ma-2 d-md-none" color="primary">
            Март 2020 - Май 2020
          </v-chip>

          <p>
            Разработка системы для американского маркетингового агентства Next
            Millennium Media. Система предствляет из себя административную
            панель для настройки рекламных кампаний на различных платформах.
          </p>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-row class="my-n4">
            <v-col>
              <span class="mainPageSubTitleText">Лаборатория Гемотест</span>
              <span class="subMenu">Fullstack разработчик</span>
            </v-col>
            <v-col align="right" class="py-7">
              <span class="mr-4 d-none d-md-block"
                >Январь 2019 - Февраль 2020</span
              >
            </v-col>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-chip class="ma-2 d-md-none" color="primary">
            Январь 2019 - Февраль 2020
          </v-chip>

          <p>
            Разработка и поддержка внутренней лабораторной информационной
            системы. Система позволяет сотрудникам оформлять заказы на
            лабораторные исследования, отображает информацию по заказам для
            заинтересованных лиц, а также содержит много различного функционала
            для технологов и медицинских сестер.
          </p>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-row class="my-n4">
            <v-col>
              <span class="mainPageSubTitleText">Мобильные ТелеСистемы</span>
              <span class="subMenu">Ведущий специалист</span>
            </v-col>
            <v-col align="right" class="py-7">
              <span class="mr-4 d-none d-md-block"
                >Октябрь 2016 - Январь 2020</span
              >
            </v-col>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-chip class="ma-2 d-md-none" color="primary">
            Октябрь 2016 - Январь 2020
          </v-chip>

          <p>
            Разработка системы для контактных центров, а также управление
            небольшой командой. Система собирает статистику из разных источников
            (Siebel, Oracle BI и т.д.) и отображает конечному пользователю в
            удобном дле него формате. Также реализован некоторый функционал
            социальных сетей: личные профили, подарки
          </p>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  data: () => ({
    panel: 0,
  }),
};
</script>