<template>
  <div>
    <span class="mainPageTitleText mt-4">Личные проекты</span>
    <v-alert text type="info" color="primary"
      >В данном разделе представлены далеко не все проекты, а только те, которые
      обрели более менее завершенный статус. Подробности я могу рассказать по запросу</v-alert
    >
    <v-expansion-panels flat class="mt-4">
      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-row class="my-n4">
            <img class="projectImg my-4 d-none d-md-block" src="https://ferretblack.gitlab.io/portfolio/img/kusnyam.svg" />
            <div class="ml-4 my-4" style="display: inline-block">
              <span class="mainPageSubTitleText">КусьНям</span>
              <span class="subMenu">Агрегатор фастфуд заведений</span>
            </div>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-chip class="ma-2" color="primary"> В работе </v-chip>

          <p>
            Проект представляет из себя агрегатор фастфуд заведений города
            Рязани.
          </p>
          <p>
            Цель проекта помочь жителям и гостям города найти лучшие кафе
            быстрого питания города
          </p>
          <span
            >Сервис сконцентрирован на 4-х основных категориях: бургеры, суши и
            роллы, блюда на мангале, пицца. Пользователь выбирает категорию и
            его вниманию предстает рейтинг заведений отсортированый по оценкам
            от других пользователей. По нажатию на элемент рейтинга пользователь
            попадает на экран ресторана где может ознакомиться со всей доступной
            информацией, а также поставить оценку</span
          >

          <p>
            Проект включает в себя портал, административную панель и API. Старая
            версия проекта была написана с использованием Laravel на бэке и Vue
            на фронте. Новая версия переписывается в стеке Node.js + Vue.
          </p>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-row class="my-n4">
            <img class="projectImg my-4 d-none d-md-block" src="https://ferretblack.gitlab.io/portfolio/img/folark.png" />
            <div class="ml-4 my-4" style="display: inline-block">
              <span class="mainPageSubTitleText">Folark</span>
              <span class="subMenu">Веб-студия</span>
            </div>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-chip class="ma-2" dark color="red"> Закрыт </v-chip>

          <p>
            Попытка создать собственную студию по реализации проектов для
            различных компаний. В рамках работы студии были созданы сайты для
            загородной базы отдыха, а также ряд других небольших проектов. К
            сожалению из-за нехватки средств на продвижение и высокую
            конкуренцию, от развития данного начинания пришлось отказаться.
          </p>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-row class="my-n4">
            <img class="projectImg my-4 d-none d-md-block" src="https://ferretblack.gitlab.io/portfolio/img/azbuka.svg" />
            <div class="ml-4 my-4" style="display: inline-block">
              <span class="mainPageSubTitleText">Азбука для детей</span>
              <span class="subMenu">Образовательное детское приложение</span>
            </div>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-chip class="ma-2" color="success"> Доступно </v-chip>

          <p>
            Создано в рамках эксперимента по работе с Unity. Представляет из
            себя приложение для мобильных устройств на ОС Android. Ориентировано
            на пользователей до семи лет. Помогает родителям научить своих детей
            основам русского языка. Каждый слайд с буквой содержит в себе
            красивые изображения и возможность прослушать озвучку буквы и звука.
            Также включает в себя мини игры. На момент написания данного текста
            на Google Play имеет более тысячи загрузок без какого-либо
            продвижения
          </p>
          <a
            href="https://play.google.com/store/apps/details?id=com.BadRat.Azbuka"
            >Google Play</a
          >
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-row class="my-n4">
            <img class="projectImg my-4 d-none d-md-block" src="https://ferretblack.gitlab.io/portfolio/img/minecraft.png" />
            <div class="ml-4 my-4" style="display: inline-block">
              <span class="mainPageSubTitleText">ForestTale</span>
              <span class="subMenu">Комлпекс серверов</span>
            </div>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-chip class="ma-2" color="success"> Доступно </v-chip>

          <p>
            Комплекс Minecraft серверов. Изначально был ориентирован на взрослую
            аудиторию и включал в себя сервера с хардкорными модами. Машина для
            серверов аредовалась в немецком дата центре Hetzner. Сам проект
            включал в себя: портал с новостями, форум, личный кабинет где
            пользователь мог приобрести различные игровые предметы и статусы, лаунчер на шарпе, а
            также непосредственно сами сервера на ядре Bukket. Для проекта были
            написаны некоторые собственные моды и плагины.
          </p>
          <p>
            В данный момент проект передан коллеге, с котором данное детище
            развивалось. Существует в несколько иной формации под название
            Crystal. Старую версию можно найти на веб архиве по адресу
            foresttale.com
          </p>
          <a href="https://mcastra.ru/">Текущая версия проекта</a>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-row class="my-n4">
            <img class="projectImg my-4 d-none d-md-block" src="https://ferretblack.gitlab.io/portfolio/img/minecraft.png" />
            <div class="ml-4 my-4" style="display: inline-block">
              <span class="mainPageSubTitleText">SquareLand</span>
              <span class="subMenu">Комлпекс серверов</span>
            </div>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-chip class="ma-2" color="success"> Доступно </v-chip>

          <p>
              Комплекс майнкрафт серверов. В пике количество одновременно играющих игроков составлял 2 тысячи человек. Представлял из себя портал, личный кабинет, форум, ланучер написанный на java, непосредственно сами сервера. Создавался силами команды из 6 человек. В данный момент продан другим владельцам и переживает не самые лучшие времена. 
          </p>
          <a href="http://squareland.ru/">Ссылка на проект в текущем виде</a>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-row class="my-n4">
            <img class="projectImg my-4 d-none d-md-block" src="https://ferretblack.gitlab.io/portfolio/img/stalker.png" />
            <div class="ml-4 my-4" style="display: inline-block">
              <span class="mainPageSubTitleText">CallOfPripyat Zone</span>
              <span class="subMenu">Портал по игре Сталкер</span>
            </div>
          </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-chip class="ma-2" dark color="red">
            Закрыт
          </v-chip>

          <p>
              Один из самых ранних проектов. Создавался во времена когда социальные сети не так были развиты как сейчас и люди сидели на различных узконаправленных форумах. Данный проект был ориентирован на сообщество игроков игры Сталкер и включал в себя портал с новостями из мира игры и форум. Получился довольно интересный и ламповый проект, который стал для меня отправной точкой в мир информационных технологий. Проект сейчас не активен, но его можно найти на веб архиве по адресу cop-zone.org.ua. 
              <br>PS: org.ua - потому что в те времена подобные домены раздавались бесплатно :) 
          </p>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {};
</script>